.row
{
    margin-top: 100px;
}

.card-header
{
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    
}



span
{
   
    text-transform: uppercase;
    font-weight: bold;
    
}

.timer
{
    font-stretch: expanded;
    text-align: center;
    
}
.stopwatch
{
    font-stretch: expanded;
}